/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.form {
    margin: 36px auto 0;
    display: flex;
    gap: 8px;
}

label {
    width: 272px;
    height: 40px;
}

input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    outline: none;
}

input[type="text"]:hover,
input[type="text"]:focus {
    border-color: #000;
}

input[type="text"]:valid {
    border-color: #4e75ff;
}

button[type="submit"] {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: #4e75ff;
    color: white;
    font-weight: 500;
    letter-spacing: 0.04em;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
    background-color: #6c8cff;
}

.gallery {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin: 36px 150px 0;
    justify-content: center;
    align-items: center;
}

.gallery-card {
    width: 360px;
    height: 200px;
    border: 1px solid #808080;
}

.card-image {
    display: block;
    height: 152px;
}

.card-caption {
    display: flex;
    gap: 28px;
    justify-content: center;
    align-items: center;
}

.image-tag {
    text-align: center;
}

.gallery+span {
    margin: 0 auto;
}

.loader {
    margin: 0 auto;
    position: relative;
    width: 85px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#3e3939 50px, transparent 0),
        linear-gradient(#3e3939 50px, transparent 0),
        linear-gradient(#3e3939 50px, transparent 0),
        linear-gradient(#3e3939 50px, transparent 0),
        linear-gradient(#3e3939 50px, transparent 0),
        linear-gradient(#3e3939 50px, transparent 0);
    background-position: 0px center, 15px center, 30px center, 45px center, 60px center, 75px center, 90px center;
    animation: rikSpikeRoll 0.65s linear infinite alternate;
}

@keyframes rikSpikeRoll {
    0% {
        background-size: 10px 3px;
    }

    16% {
        background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px
    }

    33% {
        background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px
    }

    50% {
        background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px
    }

    66% {
        background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px
    }

    83% {
        background-size: 10px 3px, 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px
    }

    100% {
        background-size: 10px 3px, 10px 3px, 10px 3px, 10px 10px, 10px 30px, 10px 50px
    }
}